*{
    font-family: "Red Hat Mono", monospace;
    font-weight: 500;
}

body{
    background-color: #9BC1BC;
}

/** Card de presentación del juego **/

#cardStart{
    height: 100%;
    padding: 60px;
    align-items: center;
}

.card{
    border: #ED6A5A 5px solid;
    border-radius: 10px;
    max-width: 40rem;
    background-color: #e27d70;
    padding: 30px;
    margin: 0 auto;
    box-shadow:  2px 2px 10px 5px #e6ebe0; 
}

.rotated-icon-right {
    transform: rotate(300deg); /* Cambia el ángulo de rotación según lo necesites */
}

.rotated-icon-left {
    transform: rotate(120deg); /* Cambia el ángulo de rotación según lo necesites */
}

iconify-icon{
    font-size: 40px;
    display: flex;
    color: #F4F1BB;
    align-items: center;
}


.titulo p{
    text-align: center;
    padding: 0px 10px;
    margin: 0;
    font-size: 30px;
    color: #F4F1BB;
    line-height: 30px;

}
h5{
    color: #F4F1BB;
    margin: 0;
}

.titulo_principal{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.texto{
    padding: 15px 0;
    margin: 0;
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}
ul li{
    list-style: none;
    margin: 0;
}

.container-center{
    display: flex;
    justify-content: center;
}

#start{
    background-color: transparent;
    border: #F4F1BB 3px solid;
    border-radius: 10px;
    color: #F4F1BB ;
    margin-top: 10px;

}

#start:hover{
    background-color: #5CA4A9;
    border: #4c878b 3px solid;
    border-radius: 10px;
    color: #F4F1BB;

}

/** Puntaje **/
#scoreSign{
    display: none;
}





/** Tablero del juego **/
#board, .boardInfo{
    width: 500px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-game{
    display: flex;
    justify-content: center;
    padding: 20px;
}


#scoreBoard{
    display: inline-flex;

}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: #456090;
}

.snakeSquare{
    /* background-color: #58aa3e; */
    background-color: #456090;
    background-image: url('/images/circle.png') ;
    background-repeat: no-repeat;
    background-size: contain;
}

.foodSquare{
    /* background-color: #f35a69; */
    background-color: #456090;
    background-image: url('/images/manzana.png') ;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Card de game over */
.game-over-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: none;
    justify-content: center;
    align-items: center;
}

.game-over-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para la tarjeta */
    text-align: center;
}

.game-over-card h2 {
    margin-top: 0;
    color: #ED6A5A; /* Color de título */
}

.game-over-card p {
    margin-bottom: 20px;
}

.game-over-card button {
    background-color: #5CA4A9; /* Color de fondo del botón */
    color: white; /* Color de texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsivo */


@media (max-width: 480px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .titulo p{
        text-align: center;
        font-size: 16px;
        line-height: 15px;
    }

    iconify-icon{
        font-size: 25px;
        display: flex;
        color: #F4F1BB;
    }

    h5{
        font-size: 13px;
    }

    p.texto, ul li{
        font-size: 10px;
    }

    #start{
        font-size: 13px;
    }

}

















